#div-tagEditor {
  width: 100%;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  padding: 0 0 20px 0;
  .editor-h1 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .form-label {
    font-size: 14px;
    color: #d8d8d8;
  }

  @mixin editor-input($margin, $width) {
    margin: $margin;
    width: $width;
  }

  .editor-input {
    &-wide {
      @include editor-input(0 auto 20px auto, 500px);
    }
    &-medium {
      @include editor-input(0 auto 20px auto, 300px);
    }
    &-small {
      @include editor-input(0 auto 20px auto, 120px);
    }
  }

  .editorWindow {
    width: 80vw;
    padding: 30px 50px;
    margin: 40px auto 0 auto;
    border-radius: 15px 15px 0 0;
    background-color: $background-black;
  }
}

#div-tagDisplay {
  width: 80vw;
  padding: 10px 200px;
  margin: auto;
  border-radius: 0 0 15px 15px;
  background-color: $background-black;
  .tagDisplay-h1 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .tagDisplay-result {
    font-size: 13px;
  }
}
